@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
:root{
    --gray-light:#7D7987;
    --button: #458FF6;
    --black: #00000000;
    --white: white;
}
.btn:hover {
    background-color: var(--button);
    color: white;  
  }
.h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color: var(--black);
}
.p{
    font-size: 16px;
    color: var(--gray-light);
}
.container { 
    width: 80%; 
    margin: auto; 
} 
header .container{
    height: 100%;
}
header .flex{
    height: 100%;
}
header .btn:hover{
    background-color: #fff;
    color:var(--button);
    border-color: var(--button)
}
.flex { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
 } 
nav{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 99999999999;
}
ul { 
    list-style-type: none; 
}
section{
    padding: 4rem 0;
} 
a{ 
    text-decoration: none; 
    } 
ul.flex { 
    gap: 40px; 
    } 
.active{ 
    font-weight: bold; 
}
.nav-link{
    font-size: 18px;
    color: #1F1534;
    text-transform: capitalize;
 }
 label .open , label .close{
    display: none;
 }
 header{
    height: 100vh;
}
.header-content{ 
    max-width: 445px;
    flex: 1;
}
.header-content p{
    font-size: 21px;
    line-height: 32px;
    color: var(--gray-light);
    margin-top: 25px;
    margin-bottom: 45px ;
    flex: 1;
}
.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    flex: 1;
}
.header-content .btn{
    background-color: var(--button);
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    flex: 1;
}
.header-img img{
    width: 100%;
}
.divider{
    height: 2px;
    width: 56px;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.services{
    text-align: center;
}
.services svg{
    margin: 26px 0 33px 0;
}
.cards{
    margin-top: 5 rem;
}
.cards.flex{
    flex-wrap: wrap;
    gap: 37px;
}
.card img{
    flex: 2;
    margin-bottom: 22px;
}
.card{
    text-align: start;
    padding: 37px 4px;
    max-width: 350px;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 40);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}   
.services{
    position: relative;
}
.services .cards-bg{
    position: absolute;
    left: 0;
    z-index: -1;
}
.services .points1{
    position: absolute;
    top: 41%;
    right: 120px;
    z-index: -1;
}
.services .btn{
    background-color: white;
    border-color: var(--button);
    color: var(--button);
    font-size: 18px;
}
.bg-graidient{
    background: linear-gradient(#67C3F3 , #5A98F2);
}
.testimonials .testimonial-content{
    color: white;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 64px 118px;
    gap: 2rem;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.testimonials .flex{
    gap: 111px;
}
.testimonials .content.flex{
    gap: 2rem;
    justify-content: flex-start;
}
.testimonials .content , .testimonial .qoute{
    width: 50%;
}
.testimonials{
    position: relative;
}
.testimonials .point2{
    position: absolute;
    top: -19px;
    right: -40px; 
}
.testimonials .point3{
    position: absolute;
    bottom: 30px;
    left: -50px; 
    z-index: -1;
}
.testimonials .iconpoint{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -50px;
}
.articles .card{
    width: 350px;
    padding: 0;
}
.articles .card img{
    width: 100%;
}
.card-body{
    padding: 24px 33px 35px;
}
.card-body p{
    margin-top: 12px ;
    margin-bottom: 25px;
}
.card-body a{
    color: var(--button);
    display: flex;
    align-items: center;
    gap: 2rem;
}
.card-body i{
    font-size: 15px;
}
.articles .flex{
    flex-wrap: wrap;
}
.articles .card{
    max-width: 100%;
}
.articles .btn{
    border-color: var(--button);
    background-color: #fff;
    color: var(--button);
    font-size: 15px;
    display: flex;
    align-items: center;
}
.footer .container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% !important;
    height: auto;
} 
.footer{
    background: linear-gradient(to bottom right , #67C3F3 , #5A98F2 );
    padding: 60px 40px;
    color: #fff;
}
.footer .logo{
    background-color: white;
    color: var(--button);
    font-weight: bold;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.footer .footer_header{
    max-width: 391px;
    margin: auto;
    flex-direction: column;
    position: fixed;
}
.footer .f-p{
    margin-top:  22px;
    margin-bottom: 31px;
}
.footer .f-list{
    margin: auto;
    gap: 2rem;
}
.footer h4{
    margin-bottom: 20px;
}
.footer ul li{
    margin-bottom: 10px;
}
.icon-wrapper {
    position: relative;
    width: 41px;
    height: 41px;
  }

  .circle-bg {
    width: 100%;
    height: 100%;
  }

  .icon-t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 19px;
    }
  .hero {
    padding: 60px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  .hero-text {
    max-width: 500px;
    text-align: left;
  }
  
  .hero-text h1 {
    margin-bottom:26px;
  }
  .underline {
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 31px;
    margin-top: 31px;
  }
  
  .hero-text p {
    font-size: 21px;
    color: #7d7987;
    line-height: 1.8;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-right: 137px;
  }
.download .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    gap: 40px;
}
  .hero .btn {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid var(--button);
    color:var(--button);
    font-size: 18px;
    border-radius: 25px;
}
.download .h2{
    display: flex;
    justify-content: start;
    align-items: start;
}
.download h1{
    margin-bottom:26px;
  }
.download p{
    margin-top: 31px;
}
.download .btn{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid var(--button);
    color:var(--button);
    font-size: 18px;
    border-radius: 25px;
}
.download p{
    font-size: 21px;
    line-height: 32px;
    color: var(--gray-light);
    margin-top: 31px;
}
.download img{
    width: 100%;
}
.footer .element{
    bottom: 0;
    left: 0;
}
.footer .element2{
    top: -20px;
}


