@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
:root{
    --gray-light:#7D7987;
    --button: #458FF6;
    --black: #00000000;
    --white: white;
}
.h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color: var(--black);
}
.p{
    font-size: 16px;
    color: var(--gray-light);
}
.container { 
    width: 80%; 
    margin: auto; 
} 
header .container{
    height: 100%;
}
header .flex{
    height: 100%;
}
.flex { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
 } 
nav{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 99999999999;
}
ul { 
    list-style-type: none; 
}
section{
    padding: 4rem 0;
} 
a{ 
    text-decoration: none; 
    } 
ul.flex { 
    gap: 40px; 
    } 
.active{ 
    font-weight: bold; 
}
.nav-link{
    font-size: 18px;
    color: #1F1534;
    text-transform: capitalize;
 }
 label .open , label .close{
    display: none;
 }
 header{
    height: 100vh;
}
.header-content{ 
    max-width: 445px;
    flex: 1;
}
.header-content p{
    font-size: 21px;
    line-height: 32px;
    color: var(--gray-light);
    margin-top: 25px;
    margin-bottom: 45px ;
    flex: 1;
}
.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    flex: 1;
}
.header-content .btn{
    background-color: var(--button);
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    flex: 1;
}
.header-img img{
    width: 100%;
}

 .divider{
    height: 2px;
    width: 56px;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.services{
    text-align: center;
}
.services svg{
    margin: 26px 0 33px 0;
}
.cards{
    margin-top: 5 rem;
}
.cards.flex{
    flex-wrap: wrap;
    gap: 37px;
}
.card img{
    flex: 2;
    margin-bottom: 22px;
}
.card{
    text-align: start;
    padding: 37px 4px;
    max-width: 350px;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 40);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}   
.services{
    position: relative;
}
.services .cards-bg{
    position: absolute;
    left: 0;
    z-index: -1;
}
.services .points1{
    position: absolute;
    top: 41%;
    right: 120px;
    z-index: -1;
}
.services .btn{
    background-color: white;
    border-color: var(--button);
    color: var(--button);
    font-size: 18px;
}
.testimonials{
    margin: auto;
    color: white;
    max-width: 1120px;
    border-radius: 24px;
    background: linear-gradient(#67C3F3 , #5A98F2);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.line{
    margin-bottom: 77px;
}
.testimonials .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testimonials.flex{
    gap: 111px;
}
.testimonials .content.flex{
    gap: 2rem;
    justify-content: flex-start;
}
.testimonials .content , .testimonial .qoute{
    width: 50%;
}
.testimonials{
    position: relative;
}
.testimonials .point2{
    position: absolute;
    top: -19px;
    right: -40px; 
}
.testimonials .point3{
    position: absolute;
    bottom: 30px;
    left: -50px; 
    z-index: -1;
}
.testimonials .iconpoint{
    position: absolute;
    left: 42%;
    bottom: -50px;
}